.egr-actions {
	width: calc(100% + 1.5em);
	display: none;
	justify-content: center;
	border-top: 1px solid #ddd;

	> * {
		height: 2.5em;
		line-height: 2.5em;
		cursor: pointer;
		padding-right: 1.5em;
		padding-left: 1.5em;
		user-select: none;
		border-right: 1px solid #ddd;

		&:last-child {
			border-right: none;
		}
	}
}

.egr-even .egr-actions {
	border-top: 1px solid #ccc;

	> * {
		border-right: 1px solid #ccc;

		&:last-child {
			border-right: none;
		}
	}
}