.egr {
	margin-left: -1.5em;
	margin-bottom: -1.5em;
}

.egr-row {
	margin-left: 1.5em;
	width: calc(100% - 1.5em);
	padding-bottom: 1.5em;
}

.egr-fieldsets {
	position: relative;
}

.egr-fieldset {
	padding-top: 1.5em;
	padding-right: 1.5em;
	border: 2px solid #ddd;
	background: #fff;
	position: relative;
}

.egr-even > .egr-fieldsets > .egr-fieldset {
	background: #eee;
}

.egr-outline {
	display: none;
}

.egr-fields {
	flex: 1;
}