.egr .ui-sortable-helper {
	border-bottom: 2px solid #ddd;
}

.egr-presentation .egr-fieldset:first-child > .egr-actions > .egr-sort-up {
	display: none;
}
.egr-presentation .egr-fieldset:last-child > .egr-actions > .egr-sort-down {
	display: none;
}

.egr-presentation .egr-fieldset:only-child > .egr-actions > .egr-sort-up,
.egr-presentation .egr-fieldset:only-child > .egr-actions > .egr-sort-down,
.egr-presentation .egr-fieldset:only-child > .egr-actions > .egr-sorting {
	display: none;
}