.engineer-items .engineer-item > .field {
	margin-bottom: .5em !important;
	padding-left: 0 !important;
}

.engineer-items .engineer-field:last-child .field {
	margin-bottom: 0 !important;
}

.engineer-items > [data-engineer-row],
.engineer-items > .engineer-hidden-row {
	margin-bottom: .5em;
	display: flex;
	border: 1px solid #ddd;
}

.engineer-items .engineer-fields {
	flex: 1;
	border-right: none;
	padding-top: 1.5em;
}


.engineer-items .engineer-delete-button,
.engineer-items .engineer-sort-handle {
	margin: .5em;
	text-align: center;
	cursor: default;
	padding: 0 1em;
	height: 2.5em;
	line-height: 2.5em;
	cursor: pointer;
}

.engineer-items .engineer-delete-button {
	background: #ddd;
}

.engineer-items .engineer-delete-button:hover {
	background: #b3000a;
	color: #fff;
}

.engineer-items .engineer-row {
	background: #eee;
}

.engineer-items .ui-sortable-helper {
	background: #ddd !important;
}

.engineer-items .field {
	float: left;
}