.engineer-table {
	width: 100%;
	border-collapse: collapse;
}

.engineer-table > thead > tr > th {
	padding: .5em;
	font-weight: 400;
	color: #777;
	font-style: italic;
	text-align: left;
}

.engineer-table > tbody > tr > td {
	vertical-align: top;
	border: 1px solid #ddd;
	background: #eee;
	padding: .5em;
}

.engineer-table > tbody> tr > td:first-child,
.engineer-table > tbody> tr > td:last-child {
	width: 1px;
}

/* Field */

.engineer-table .field {
	margin-bottom: 0 !important;
	padding-left: 0 !important;
	margin-bottom: 0 !important;
}

.engineer-table ul.field-grid {
	margin-left: 0;
}

.engineer-table ul.field-grid li {
	padding-left: 1em;
}

.engineer-table ul.field-grid li:first-child {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.engineer-table .engineer-delete-button {
	text-align: center;
	cursor: default;
	padding: 0 1em;
	line-height: 2.5em;
	background: #ddd;

	height: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 2.5em;
}

.engineer-table .engineer-delete-button:hover {
	background: #b3000a;
	color: #fff;
}

.engineer-table .engineer-sort-handle {
	height: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	line-height: 2.5em;
	height: 2.5em;
	width: 2.5em;
	cursor: pointer;
}

.engineer-table .ui-sortable-helper td {
	background: #ddd !important;
}